body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #8f8f8f;
}

/* Nav Bar */
.navbar {
  background-color: #F5EDDC;
}

.nav-item {
  padding: 0 20px;
}

/* Intro Section */
#intro-section {
  background-color: #F5EDDC;
  text-align: center;
  padding: 3% 10% 6%;
}

.welcome-title {
  font-weight: 900;
}

.profile-pic {
  width: 40%;
}

.intro-paragraph {
  padding: 7% 15%;
  text-align: center;
}
